

@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">Hotel Del Luna</h1>
    <p>Hotel ini bernama Hotel Del Luna. Sudah didirikan sejak  12 May 1990 di Australia, Queensland, di kota Gold Coast.</p>
    <img src="~/images/@ViewBag.Pict" height="200px" />
</div>
